<h1>Log in</h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path do |form| %>
  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autocomplete: "username" %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: "current-password" %>
  </div>

  <%= form.submit "Log in" %>
<% end %>

<p>Don't have an account? <%= link_to "Sign up", new_registration_path %></p>
<p><%= link_to "Forgot password?", new_password_path %></p>
